doctype html
html
	head
		//- polymer
		meta(name="google-site-verification" content="B2aZH_aW6XHRJ2xiG3eXSP9bN-A3GfpZ4EvdwLNVlmI")
		link(rel="import" href="/lib/iron-icons/iron-icons.html")
		link(rel="import" href="/lib/iron-image/iron-image.html")
		//- css
		link(href="https://fonts.googleapis.com/css?family=Raleway|Droid+Serif" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
		link(rel="stylesheet" href="/global.css")
		link(rel="stylesheet" href=appCss)
	body
		#app-container!=content
		//- typekit
		<script src="https://use.typekit.net/rsz1its.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		script(src="/lib/webcomponentsjs/webcomponents-lite.min.js")
		script(src=polyfill)
		script(src=appJsSrc)
