@import "../../style/_config.sass"

$error-field: #FDBCBC
$error-text: red


.form-field
	@include row(table)
	margin-top: 0.5em
	padding: 0 1em
	label
		@include span-columns(2.5 of 10)
		vertical-align: middle
		text-align: center
	// input[type='submit']
	// 	@include button
	// 	border: none
	// 	// width: 8em
	// 	// display: block
	// 	text-align: center
	// 	// margin: 5px 0
	// @include reset-display
.error
	@include fill-parent
	text-align: center
.fieldError
	@extend .form-field
	background-color: $error-field
	input, select, textarea
		margin: 5px
		border: 1px solid $error-text
		&:hover
			border: 1px solid $error-text
	span
		font-size: 90%
		margin-bottom: 7px
		color: $error-text


.field
	@include span-columns(7.5 of 10)
	input, select, textarea
		margin-bottom: 2px
		width: 100%
		padding: 3px
.button-field
	@include row(table)
	text-align: right
	padding: 1em 1em 5px 1em
	button, input[type="submit"], input[type="reset"]
		@include span-columns(1 of 5)
		// display: block
	input, button
		@include transition(0.5s)
		padding: 0.5em
		border: none
		cursor: pointer
	input[type="submit"]
		background-color: $go-green
		color: white
		&:hover
			background-color: lighten($go-green, 15%)

.number
	$bc: grey
	input
		width: 7em
		display: inline-block
	div
		display: inline-block
		border: 1px solid $bc
		background-color: lighten($bc, 40%)
		margin-left: 10px
		border-radius: 3px
		iron-icon
			@include transition(0.5s)
			cursor: pointer
			&:first-child
				border-right: 1px solid $bc
			&:hover
				background-color: lighten($bc, 30%)
			&:active
				background-color: lighten($bc, 20%)