@import "../../style/_config.sass"

.form-field
	@include row(table)
	margin-top: 0.5em
	padding: 0 1em
	label
		@include span-columns(2.5 of 10)
		vertical-align: middle
		text-align: center
	// input[type='submit']
	// 	@include button
	// 	border: none
	// 	// width: 8em
	// 	// display: block
	// 	text-align: center
	// 	// margin: 5px 0
	// @include reset-display
.field
	@include span-columns(7.5 of 10)
	input, select, textarea
		width: 100%
		padding: 3px
.button-field
	@include row(table)
	text-align: right
	button, input[type="submit"], input[type="reset"]
		@include span-columns(1 of 5)
		// display: block