@import "../../style/_config.sass"
@import "../form/form.sass"

@include reset-display()

.editItem
	margin-bottom: 1em
	padding: 1em
	list-style-type: none
	margin-right: 2em
	form h3
		margin: 1em 0
		padding-bottom: 5px
		border-bottom: 1px solid $theme-base

.container
	// padding-left: 3em
	display: table-cell
	position: relative
	margin-bottom: 5em
	ul
		margin: 0
	& > h2
		text-align: center

.footerButtons
	@extend .button-field
	background-color: rgba(white, 0.7)
	padding: 2em
	position: fixed
	bottom: 0
	right: 0
	width: 100%

.listBase
	// @include fill-parent
	padding: 1em
	// border-radius: 10px
	&:nth-child(even)
		background-color: lighten($theme-base, 40%)
	a
		display: block
		color: inherit
		text-decoration: none
		& > div
			// @include span-columns(1 of 2)

.editImage
	display: inline-block
	max-width: 100%
	height: 5em

.learnImage
	padding: 10px
	border: 2px solid $theme-base
	border-radius: 5px
	margin: 5px
	img
		margin: 0 auto
		display: inline-block