ul
	li
		a(href="/").app-nav home
	li
		a(href="/portfolio").app-nav portfolio
	li
		a(href="/stack").app-nav stack
	li
		a(href="/products-and-services").app-nav products &amp; services
	li
		a(href="/contact").app-nav contact