html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.5em; }
  .footer ul {
    -webkit-flex-basis: 13em;
    -moz-flex-basis: 13em;
    flex-basis: 13em;
    -ms-flex-preferred-size: 13em;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #4c4c4c;
  padding: 5px; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

div.slicknav_menu {
  background-color: #40526B; }
  div.slicknav_menu ul {
    margin-left: 0; }
  div.slicknav_menu .slicknav_brand {
    font-family: "ff-enzo-web";
    font-size: 200%; }
  div.slicknav_menu .slicknav_nav {
    background-color: #4d6381;
    border-radius: 10px; }
  div.slicknav_menu .slicknav_btn {
    margin-top: 8px;
    background-color: #40526B; }
    div.slicknav_menu .slicknav_btn span {
      color: #5d779b; }

body {
  margin: 0; }
  body nav ul {
    padding: 0; }
  body nav a {
    color: black;
    text-decoration: none; }
  body nav li {
    list-style-type: none; }

header {
  margin: 0.5em; }

html, input, select {
  font-family: "expo-sans-pro"; }

h1, h2, h3 {
  font-family: "ff-enzo-web"; }

footer {
  text-align: center; }

form {
  width: 100%; }
  form .form-field {
    display: table;
    width: 100%;
    table-layout: fixed;
    vertical-align: middle; }
    form .form-field label {
      display: table-cell;
      width: 20%;
      text-align: center; }
    form .form-field input, form .form-field select {
      display: table-cell;
      width: 80%; }
  form input[type='submit'] {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -2px rgba(103, 103, 103, 0.8);
    border: none;
    width: 8em;
    display: block;
    text-align: center;
    margin: 5px 0; }
    form input[type='submit']:hover {
      background-color: #FFBA00; }

main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main .content {
    margin: 0 2em; }

.header-section {
  text-align: center; }
  .header-section p {
    margin: 0;
    color: #8d8d8d; }
  .header-section .page-header {
    font-size: 200%;
    margin-bottom: 0.2em;
    color: #676767; }

.content-menu {
  position: fixed;
  bottom: 0;
  right: 0; }
  .content-menu iron-icon {
    width: 3em;
    height: 3em; }

iron-icon {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }
  iron-icon:hover {
    fill: #FFBA00; }

.stack ul.stack-list {
  list-style-type: none;
  padding: 0; }

.stack li {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .stack li h3 {
    display: block; }
  .stack li div {
    vertical-align: middle; }
    .stack li div:nth-child(2n) {
      margin-right: 0; }
    .stack li div:nth-child(2n+1) {
      clear: left; }
  .stack li div.img {
    display: table-cell;
    width: 37.5%;
    padding: 0.7em; }
  .stack li div.description {
    display: table-cell;
    width: 62.5%;
    padding-left: 0.5em; }

.stack img {
  width: 100%; }

.horizontal-menu {
  width: 100%; }
  .horizontal-menu ul {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding: 0; }
  .horizontal-menu li {
    display: table-cell;
    width: 20%;
    text-align: center;
    display: inline-block;
    border-top-left-radius: 5px; }
  .horizontal-menu a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    display: block;
    margin-right: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #272727;
    background-color: #abb9cc;
    text-decoration: none; }
    .horizontal-menu a:hover {
      background-color: #7b91b0;
      color: #f3f3f3; }
