html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.refills_footer___container__spV9d {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%;
  font-family: "ff-enzo-web", "Raleway", sans-serif; }
  .refills_footer___container__spV9d hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .refills_footer___container__spV9d p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.refills_footer___logo__3zvgg {
  margin-bottom: 2em;
  text-align: center; }
  .refills_footer___logo__3zvgg img {
    height: 3em; }

.refills_footer___linksContainer__1ytpy {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em; }

.refills_footer___linkList__1IfG6 {
  -webkit-flex-basis: 13em;
  -moz-flex-basis: 13em;
  flex-basis: 13em;
  -ms-flex-preferred-size: 13em;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin-bottom: 3em;
  padding: 0; }
  .refills_footer___linkList__1IfG6 li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
    font-family: "expo-sans-pro", "Droid Serif", serif; }
  .refills_footer___linkList__1IfG6 li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .refills_footer___linkList__1IfG6 li a:focus, .refills_footer___linkList__1IfG6 li a:hover {
      color: white; }
  .refills_footer___linkList__1IfG6 li h3 {
    color: white;
    font-family: "ff-enzo-web", "Raleway", sans-serif;
    font-size: 1em;
    margin-bottom: 0.4em; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.main-nav___main__1HWc- {
  background-color: #40526B; }
  .main-nav___main__1HWc- ul {
    padding-left: 0;
    margin: 0; }
  .main-nav___main__1HWc- li {
    list-style-type: none; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.header___app__3p2me {
  font-family: "ff-enzo-web", "Raleway", sans-serif;
  background-color: #40526B; }
  .header___app__3p2me h1 {
    margin: 0;
    padding: 5px; }
  .header___app__3p2me a {
    text-decoration: none;
    color: white; }

.header___header__2ZUVm {
  font-weight: lighter; }
