html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.content-header___container__30eb9 {
  border: 1px solid rgba(64, 82, 107, 0.2);
  border-radius: 0;
  font-family: "ff-enzo-web", "Raleway", sans-serif;
  text-align: center;
  padding-bottom: 3em;
  border-right: none;
  border-left: none;
  margin-top: 1em;
  background-size: cover;
  background-position: center center; }

.content-header___inner__3R29O {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 3em 3.5em 4.5em 3.5em;
  text-align: center; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }

.content-header___logo__3kjkH {
  height: 5em; }

.content-header___copy__3s-Qp h2 {
  font-size: 200%;
  margin-bottom: 0.2em;
  margin-top: 0;
  color: #676767; }

.content-header___copy__3s-Qp p {
  margin: 0;
  display: inline;
  border-radius: 4px;
  color: #8d8d8d;
  font-family: "expo-sans-pro", "Droid Serif", serif;
  background-color: rgba(255, 255, 255, 0.4); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.stack___listMain__gde13, .stack___listSecondary__3NcR0 {
  overflow: auto;
  padding: 0; }
  .stack___listMain__gde13 a, .stack___listSecondary__3NcR0 a {
    display: block;
    position: relative; }
    .stack___listMain__gde13 a div, .stack___listSecondary__3NcR0 a div {
      margin: 0 auto; }

.stack___listMain__gde13 {
  padding: 0; }
  .stack___listMain__gde13 li {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .stack___listMain__gde13 li > div {
      vertical-align: middle;
      display: table-cell;
      width: 50%; }

.stack___listSecondary__3NcR0 {
  width: 80%;
  margin: 2em auto; }
  .stack___listSecondary__3NcR0 li {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 15.3188%;
    border: 1px solid rgba(64, 82, 107, 0.2);
    border-radius: 0;
    margin-bottom: 1em; }
    .stack___listSecondary__3NcR0 li:last-child {
      margin-right: 0; }
    .stack___listSecondary__3NcR0 li:nth-child(5n) {
      margin-right: 0; }
    .stack___listSecondary__3NcR0 li:nth-child(5n+1) {
      clear: left; }
    .stack___listSecondary__3NcR0 li:hover {
      border-color: rgba(64, 82, 107, 0.7); }
    .stack___listSecondary__3NcR0 li:hover .stack___overlay__2sKFo {
      width: 100%; }
    .stack___listSecondary__3NcR0 li a {
      padding: 5px 0; }

.stack___trade__3ALzx {
  position: relative;
  display: block; }
  .stack___trade__3ALzx a {
    display: block; }

.stack___mainTradeImg__1DM9e, .stack___secondaryTradeImg__3DbtU {
  width: 100%;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat; }

.stack___mainTradeImg__1DM9e {
  height: 5em;
  width: 80%;
  background-size: cover; }

.stack___secondaryTradeImg__3DbtU {
  width: 5em;
  height: 5em; }

.stack___stackHeader__ORmWE {
  margin: 0;
  font-family: "ff-enzo-web", "Raleway", sans-serif;
  color: #40526B;
  margin-bottom: 5px;
  border-bottom: 1px solid #abb9cc; }

.stack___stackDescription__27a0u {
  display: inline-block;
  margin: 0.25em 0 1.5em 0;
  font-family: "expo-sans-pro", "Droid Serif", serif; }

.stack___overlay__2sKFo {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 0;
  background-color: rgba(93, 119, 155, 0.5); }

.stack___overlay-text__36bZh {
  color: white;
  text-align: center;
  font-weight: bold;
  whitespace: nowrap; }
