html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }
  body nav ul {
    padding: 0; }
  body nav a {
    text-decoration: none; }
  body nav li {
    list-style-type: none; }

ul {
  padding-left: 0;
  list-style-type: none; }

html, input, select, button, textarea {
  font-family: "expo-sans-pro", "Droid Serif", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-enzo-web", "Raleway", sans-serif; }

footer {
  text-align: center; }

form {
  width: 100%;
  margin: 1em 0; }
  form .form-field {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 0.5em;
    padding: 0 1em; }
    form .form-field label {
      display: table-cell;
      width: 25%;
      vertical-align: middle;
      text-align: center; }
    form .form-field .field {
      display: table-cell;
      width: 75%; }
      form .form-field .field input, form .form-field .field select, form .form-field .field textarea {
        width: 100%;
        padding: 3px; }
  form .button-field {
    display: table;
    width: 100%;
    table-layout: fixed; }
    form .button-field button, form .button-field input[type="submit"], form .button-field input[type="reset"] {
      display: table-cell;
      width: 20%; }
  form input[type='submit'] {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center; }
    form input[type='submit']:hover {
      background-color: #FFBA00; }

html {
  margin: 0;
  padding: 0; }

body {
  font-family: "expo-sans-pro", "Droid Serif", serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-enzo-web", "Raleway", sans-serif; }
