html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.content-header___container__30eb9 {
  text-align: center;
  padding-bottom: 3em;
  border: 1px solid rgba(64, 82, 107, 0.2);
  border-radius: 0;
  border-right: none;
  border-left: none;
  margin-top: 1em; }

.content-header___inner__3R29O {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 3em 3.5em 4.5em 3.5em;
  text-align: center; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }

.content-header___logo__3kjkH {
  height: 5em; }

.content-header___copy__3s-Qp h2 {
  font-size: 200%;
  margin-bottom: 0.2em;
  margin-top: 0;
  color: #676767; }

.content-header___copy__3s-Qp p {
  margin: 0;
  color: #8d8d8d; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.menu___horizontal__2Y3fh {
  width: 100%; }
  .menu___horizontal__2Y3fh ul {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding: 0; }
  .menu___horizontal__2Y3fh li {
    display: table-cell;
    width: 20%;
    border: 1px solid rgba(64, 82, 107, 0.2);
    border-radius: 0;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border;
    border-right: none;
    text-align: center;
    display: inline-block;
    border-collapse: separate; }
    .menu___horizontal__2Y3fh li:last-child {
      border-right: 1px solid rgba(64, 82, 107, 0.2); }
    .menu___horizontal__2Y3fh li:hover {
      background-color: #d1d9e3;
      color: black;
      border-bottom: 1px solid rgba(64, 82, 107, 0.7); }
    .menu___horizontal__2Y3fh li.menu___active__1HJO1 {
      color: black;
      background-color: #d1d9e3;
      border-bottom: 1px solid rgba(64, 82, 107, 0.7); }
      .menu___horizontal__2Y3fh li.menu___active__1HJO1 > a {
        cursor: default; }
  .menu___horizontal__2Y3fh a {
    display: block;
    padding: 5px;
    color: #272727;
    font-family: "ff-enzo-web", "Raleway", sans-serif;
    font-size: 110%;
    text-decoration: none; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.refills_footer___footer__1YOKN {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  .refills_footer___footer__1YOKN .refills_footer___footer-logo__3X1O2 {
    margin-bottom: 2em;
    text-align: center; }
    .refills_footer___footer__1YOKN .refills_footer___footer-logo__3X1O2 img {
      height: 3em; }
  .refills_footer___footer__1YOKN .refills_footer___footer-links__fdAIl {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.5em; }
  .refills_footer___footer__1YOKN ul {
    -webkit-flex-basis: 13em;
    -moz-flex-basis: 13em;
    flex-basis: 13em;
    -ms-flex-preferred-size: 13em;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 3em;
    padding: 0; }
  .refills_footer___footer__1YOKN li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .refills_footer___footer__1YOKN li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .refills_footer___footer__1YOKN li a:focus, .refills_footer___footer__1YOKN li a:hover {
      color: white; }
  .refills_footer___footer__1YOKN li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .refills_footer___footer__1YOKN hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .refills_footer___footer__1YOKN p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }
.main-nav___main__1HWc- {
  background-color: brown; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.header___app__3p2me {
  background-color: #40526B; }
  .header___app__3p2me h1 {
    margin: 0; }
  .header___app__3p2me a {
    text-decoration: none;
    color: white; }

.header___header__2ZUVm {
  font-weight: lighter; }
