@import "../_config.sass"

.container
	@include outer-container(100%)
	padding-top: 1em
	padding-bottom: 2em
	& > div
		margin-top: 1em
	& > div:nth-child(even)
		// background-color: rgba(lighten($theme-base, 30%), 0.5)
		background-color: rgba($theme-base, 0.9)
		color: white
		p
			color: mix(white, $theme-base, 80%)
		// width: 90%
	& > div:nth-child(odd)
		background-color: rgba(white, 0.4)
		p
			color: mix(white, black, 30%)

.storyItem
	@include row()
	@include thin-border(false)
	margin-top: 1em
	text-align: center
	// font-size: 110%
	// width: 80%
	margin: 0 auto
	p
		font-size: 95%

.inner
	width: 80%
	margin: 0 auto

.threeCol
	@include fill-parent()
	& > div
		@include span-columns(1 of 3)

.twoCol
	@include fill-parent()
	& > div
		@include span-columns(1 of 2)

.callout
	font-family: $fonts-header
	font-size: 130%