@import "../../style/_config.sass"

.app
	font-family: $fonts-header
	background-color: $theme-base
	text-align: center
	h2
		display: inline
	img
		width: 2em
		display: inline
	a
		text-decoration: none
		color: white
	h1
		font-size: 250%
		margin: 0
		padding: 0.25em
		font-weight: lighter
	nav, div
		width: 60%
		margin: 0 auto 