@import "../../style/_config.sass"

.container
	position: absolute
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: $theme-base
	div
		display: flex-item
	h1
		color: mix(white, $theme-base, 80%)
	// img
	// 	width: 10%