extends ../layout

block head




block nav
	include ../includes/main-nav




block content
	div.header-section
		h2.page-header stack
		p what we use and why we use it

	h3 node.js
	p the latest innovation in internet serving technology

	h3 mongoDB
	p a data storage engine that natively speaks javascript

	h3 ghost
	p a scalable node-based blogging platform




block scripts