html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.content-header___container__30eb9 {
  border: 1px solid rgba(64, 82, 107, 0.2);
  border-radius: 0;
  font-family: "ff-enzo-web", "Raleway", sans-serif;
  text-align: center;
  padding-bottom: 3em;
  border-right: none;
  border-left: none;
  margin-top: 1em;
  background-size: cover;
  background-position: center center; }

.content-header___inner__3R29O {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 3em 3.5em 4.5em 3.5em;
  text-align: center; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }
  .content-header___inner__3R29O::after {
    clear: both;
    content: "";
    display: table; }

.content-header___logo__3kjkH {
  height: 5em; }

.content-header___copy__3s-Qp h2 {
  font-size: 200%;
  margin-bottom: 0.2em;
  margin-top: 0;
  color: #676767; }

.content-header___copy__3s-Qp p {
  margin: 0;
  display: inline;
  border-radius: 4px;
  color: #8d8d8d;
  font-family: "expo-sans-pro", "Droid Serif", serif;
  background-color: rgba(255, 255, 255, 0.4); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.story___container__2NNsF {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 2em; }
  .story___container__2NNsF::after {
    clear: both;
    content: "";
    display: table; }
  .story___container__2NNsF > div {
    margin-top: 1em; }
  .story___container__2NNsF > div:nth-child(even) {
    background-color: rgba(64, 82, 107, 0.9);
    color: white; }
    .story___container__2NNsF > div:nth-child(even) p {
      color: #d9dce1; }
  .story___container__2NNsF > div:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.4); }
    .story___container__2NNsF > div:nth-child(odd) p {
      color: #4d4d4d; }
  .story___container__2NNsF img {
    max-width: 6em; }

.story___storyItem__34eUm {
  display: block;
  border: 1px solid rgba(64, 82, 107, 0.2);
  border-radius: 0;
  margin-top: 1em;
  text-align: center;
  margin: 0 auto; }
  .story___storyItem__34eUm::after {
    clear: both;
    content: "";
    display: table; }
  .story___storyItem__34eUm p {
    font-size: 95%; }

.story___inner__2Y7YD {
  width: 80%;
  margin: 0 auto; }

.story___threeCol__1x1Al {
  width: 100%; }
  .story___threeCol__1x1Al > div {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%;
    border: 1px solid rgba(64, 82, 107, 0.2);
    border-radius: 0;
    padding: 1em;
    border-top: none;
    border-bottom: none; }
    .story___threeCol__1x1Al > div:last-child {
      margin-right: 0; }

.story___twoCol__2gzEi {
  width: 100%; }
  .story___twoCol__2gzEi > div {
    float: left;
    display: block;
    margin-right: 16.03631%;
    width: 41.98184%; }
    .story___twoCol__2gzEi > div:last-child {
      margin-right: 0; }

.story___callout__3i0xM {
  font-family: "ff-enzo-web", "Raleway", sans-serif;
  font-size: 130%; }

.story___colorContainer__PV6ST {
  padding: 1em;
  border-radius: 2em;
  background-color: white;
  color: #40526B; }
  .story___colorContainer__PV6ST h3 {
    color: black; }
  .story___colorContainer__PV6ST p {
    color: #40526B !important; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.home___container__3BPNc {
  margin: 0 auto;
  width: 80%; }
  .home___container__3BPNc h2 {
    color: #2d3a4b; }

.home___check__1kkCX {
  width: 100%;
  overflow: auto;
  width: 80%;
  margin: 0 auto; }
  .home___check__1kkCX > div {
    text-align: center;
    float: left;
    display: block;
    margin-right: 16.03631%;
    width: 41.98184%; }
    .home___check__1kkCX > div:last-child {
      margin-right: 0; }
