@import "../../style/_config.sass"

.container
	padding: 1em
	& > ul
		margin: 0

.mainItems
	@include row(table)
	& > li
		@include span-columns(1 of 2)
		// padding: 0.5em

.dashboardItem
	.dashInner
		margin: 0.25em
		padding-left: 10px
		overflow: auto
		border-radius: 5px
		box-shadow: 0px 1px 3px 1px rgba(mix(black, white), 0.5)
		background-color: white


// Contact
.contactItem
	@include row(table)
	margin: 2px 0
	background-color: white
	border-radius: 4px
	padding: 3px
	vertical-align: middle
	& > div
		@include span-columns(1 of 2)

.menu
	iron-icon
		cursor: pointer
		&:hover
			fill: $go-green