$brignt-orange: #FFBA00
$header-color: darken(grey, 10%)
$theme-base: #40526B

$go-green: #40AF40
$rowdy-red: #DB5050


$fonts-header: "ff-enzo-web", "Raleway", sans-serif
$fonts-content: "expo-sans-pro", "Droid Serif", serif


$bp-desktop: new-breakpoint(min-width 795px)
$bp-tablet: new-breakpoint(min-width 500px max-width 794px)
$bp-smartphone: new-breakpoint(max-width 499px)