$brignt-orange: #FFBA00
$header-color: darken(grey, 10%)
$theme-base: #40526B

$go-green: #40AF40
$rowdy-red: #DB5050


$fonts-header: "ff-enzo-web", "Raleway", sans-serif
$fonts-content: "expo-sans-pro", "Droid Serif", serif