main
	@include outer-container(100%)
	@include row()
	.content
		margin: 0 2em
	// @include reset-display

.content-menu
	position: fixed
	bottom: 0
	right: 0
	iron-icon
		@include square(3em)

iron-icon
	@include icon-behaviour