$thin-border-color-inactive: rgba($theme-base, 0.2)
$thin-border-color-active: rgba($theme-base, 0.7)

@mixin thin-border
	border: 1px solid $thin-border-color-inactive
	border-radius: 0
	&:hover
		border-color: $thin-border-color-active

.horizontal-menu
	$bcg-color: lighten(#40526B, 40%)
	$color: darken(#676767, 25%)
	@include fill-parent
	ul
		@include fill-parent
		@include row(table)
		list-style-type: none
		padding: 0
		// margin-bottom: 0.5em
	li
		@include span-columns(1 of 5)
		@include thin-border
		@include transition-speed(0.25s)
		@include transition-property(border)
		border-right: none
		padding: 5px
		text-align: center
		display: inline-block
		border-collapse: separate
		&:last-child
			// border-right: 1px solid $thin-border-color-inactive
		&:hover
			background-color: darken($bcg-color, 7%)
			color: darken($color, 80%)
			border-right: 1px solid $thin-border-color-active
			border-bottom: 1px solid $thin-border-color-active
		&.active
			color: black
			background-color: lighten($bcg-color, 12%)
			border-bottom: 1px solid $thin-border-color-active
			& > a
				cursor: default
	a
		@include transition(0.2s)
		display: block
		padding-bottom: 2px
		padding-top: 1px
		color: $color
		font-family: $fonts-header
		font-size: 110%
		text-decoration: none
	@include reset-display

.header-section
	$hs-color: $header-color
	text-align: center
	.page-header
		font-size: 200%
		margin-bottom: 0.2em
		color: $hs-color
	.page-header-description
		margin: 0
		color: lighten($hs-color, 15%)




.content
	@include transition(0.5s)
	&.fill
		margin: 0 0


