.horizontal-menu
	@include fill-parent
	ul
		@include fill-parent
		@include row(table)
		list-style-type: none
		padding: 0
		// margin-bottom: 0.5em
	li
		@include span-columns(1 of 5)
		text-align: center
		display: inline-block
	a
		$bcg-color: lighten(#40526B, 40%)
		$color: darken(#676767, 25%)
		@include transition(0.2s)
		display: block
		margin-right: 1px
		padding-bottom: 2px
		padding-top: 1px
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		color: $color
		background-color: $bcg-color
		text-decoration: none
		&:hover
			background-color: darken($bcg-color, 7%)
			color: darken($color, 80%)
		&.active
			color: black
			background-color: lighten($bcg-color, 12%)
	@include reset-display

.header-section
	$hs-color: $header-color
	text-align: center
	.page-header
		font-size: 200%
		margin-bottom: 0.2em
		color: $hs-color
	.page-header-description
		margin: 0
		color: lighten($hs-color, 15%)

.product-item
	// shell display options
	// --------------------------------
	@include transition(0.5s)
	@include row(table)
	border: 5px solid rgba($theme-base, 0.5)
	border-radius: 10px
	margin-bottom: 0.5em
	// adds visual cue to engage deeper
	&:hover
		border-color: lighten($theme-base, 15%)

	// content options
	// --------------------------------
	// left-side image options
	.img
		@include span-columns(3 of 10)
		vertical-align: middle
		img
			width: 100%
	// text options for right-side
	.description
		@include span-columns(7 of 10)
		padding-top: 1em
		padding-left: 0.5em
		padding-bottom: 1em
		vertical-align: top
		padding-right: 2em
		// perhaps an actual selector here isn't ideal
		.product-header
			color: $header-color
			margin: 0 0 2px 0
			padding-bottom: 2px
			border-bottom: 1px solid rgba($header-color, 0.5)
		.summary
			margin: 0.5em 0
			font-style: italic
		ul.includes
			list-style-type: none
			padding-left: 1.5em
			margin: 0.5em 0
		.action-callout
			@include row(table)
			margin-top: 0.5em
			a
				$bcg: lighten($theme-base, 40%)
				$col: darken($header-color, 25%)
				@include span-columns(1 of 2)
				border: 1px solid white
				border-radius: 3px
				background-color: $bcg
				display: inline-block
				text-align: center
				text-decoration: none
				color: $col
				&:hover
					background-color: lighten($bcg, 10%)
				&.learn
					background-color: darken($bcg, 10%)
					&:hover
						background-color: darken($bcg, 20%)
						// color: lighten($col, 30%)
						color: white
				&.quote
					&:hover
						color: black

	@include reset-display()

.learn
	$c: $header-color
	.learn-header
		font-size: 110%
		.learn-header-text
			padding-right: 1em
			color: darken($c, 15%)
			text-align: right
		.learn-header-description
			color: $c
			text-align: left